body{
    background-color: darkseagreen;
    color: rgb(77, 95, 107);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    vertical-align: top;
}

.card{
    width: 29vw;
    border: 1px solid black;
    margin: 0.1em 0.1em 0 0;
    display: inline-block;
    vertical-align: top;
    min-height: 26vh;
    font-size: 4vh
}

a{
    text-decoration: none;
    display: inline-block;
    margin: 1em;
    color: white;
    background-color: saddlebrown;
    padding: 1em;
    border-radius: 1em;;
}
a:hover{
    text-decoration: underline;
    color: gold;
}

select{
    margin: 1em;
    padding: 1em;
    border-radius: 3em;
}
/* option{
    padding: 1em;
    margin: 1em;
} */